{% extends "layout.html" %}
{% block body %}
<script>
jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + 
                                                $(window).scrollTop()) + "px");
    this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + 
                                                $(window).scrollLeft()) + "px");
    return this;
}
$(function() {
$(
});
</script>
  <h1>Admin</h1>
    <button href="#myModal" role="button" class="btn" data-toggle="modal">Add a User</button>
    <div  id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="myModalLabel">Add User</h3>
	</div>
	<div class="modal-body">
	  {{form.hidden_tag()}}
	<p>
	  Login:<br>
	  {{form.login(class="input-block-level")}}<br>
	  Email:<br>
	  {{form.email(class="input-block-level")}}<br>
	  Set as Admin:
	  {{form.admin}}<br>
	  Admin password:<br>
	  {{form.password(class="input-block-level")}}<br>
	  Confirm admin password:<br>
	  {{form.confirm(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  {{form.submit(class="btn btn-primary", value="Add User!")}}
	</div>
      </form>
    </div>
    <button href="#updatePass" role="button" class="btn" data-toggle="modal">Change password</button>
    <div  id="updatePass" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="updatePassLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="updatePassLabel">Change password</h3>
	</div>
	<div class="modal-body">
	  {{formUpdate.hidden_tag()}}
	<p>
	  Old password:<br>
	  {{formUpdate.oldPassword(class="input-block-level")}}<br>
	  Password:<br>
	  {{formUpdate.password(class="input-block-level")}}<br>
	  Confirm password:<br>
	  {{formUpdate.confirm(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  {{formUpdate.submit(class="btn btn-primary", value="Change password!")}}
	</div>
      </form>
    </div>
    <button href="#deleteUsers" role="button" class="btn" data-toggle="modal">Delete Users</button>
    <div  id="deleteUsers" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteUsersLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="deleteUsersLabel">Delete users</h3>
	</div>
	<div class="modal-body">
	  {{formDelete.hidden_tag()}}
	<p>
	  Name:<br>
	  {{formDelete.name(class="input-block-level")}}<br>
	  Admin password:<br>
	  {{formDelete.password(class="input-block-level")}}<br>
	  Confirm admin password:<br>
	  {{formDelete.confirm(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <!-- <input class="btn btn-primary" type="submit" value="Add Projects!"> -->
	  {{formDelete.submit(class="btn btn-primary", value="Delete users!")}}
	</div>
      </form>
    </div>
{%  endblock %}
