{% extends "layout.html" %}
{% block body %}
<script>
<!-- jQuery.fn.center = function () { -->
<!--     this.css("position","absolute"); -->
<!--     this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +  -->
<!--                                                 $(window).scrollTop()) + "px"); -->
<!--     this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +  -->
<!--                                                 $(window).scrollLeft()) + "px"); -->
<!--     return this; -->
<!-- } -->
<!-- $(function() { -->
<!-- $( ".addProject" ).button().click(function() { -->
<!-- $( ".newProject" ).center(); -->
<!-- $( ".newProject" ).show(); -->
<!-- }) -->
<!-- $( ".newProject" ).hide(); -->
<!-- }); -->
function isInTab (tab, value) {
     ifhaveonly = true;
     for (i in tab) {
	if (tab[i] == value) {
		return true;
	}
	if (tab[i] != 0)
		ifhaveonly = false;
     }
     if (ifhaveonly)
	return true;
     return false;
}

function sse() {
	var source = new EventSource('/stream');
        source.onmessage = function(e) {
		mydata = JSON.parse(e.data);
                author_id = {{ session.author_id }};
		if (mydata.type == 'project' && isInTab(mydata.read.split(" "), author_id))
		{
			if ($(".accordion").find("#"+mydata.id).length == 0) {
				$(".accordion").append("<div class=\"accordion-group\" id=\""+mydata.id+"\"><div class=\"accordion-heading\"><h4><a class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#accordion2\" href=\"#"+mydata.id+"-under\">"+mydata.name+"</a></h4></div><div id=\""+mydata.id+"-under\" class=\"accordion-body collapse\"><div class=\"accordion-inner\"><p>"+mydata.content+"</p><a href=\"project/"+mydata.id+"\" class=\"btn\">Go to the project page!</a></div></div></div>");
			}
			else {
				$(".accordion").find("#"+mydata.id).find(".accordion-heading").find("a").text(mydata.name);
				$(".accordion").find("#"+mydata.id).find(".accordion-inner").find("p").text(mydata.content);
			}
		}
	};
}
sse();
</script>
  <h1>Project List</h1>
  <button href="#myModal" role="button" class="btn" data-toggle="modal">Add a project</button>
  <hr>
  <div class="accordion" id="accordion2">
{% for message in data %}
<div class="accordion-group" id="{{message.id}}">
  <div class="accordion-heading">
    <h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{message.id}}-under">{{message.name}}</a></h4>
  </div>
  <div id="{{message.id}}-under" class="accordion-body collapse">
    <div class="accordion-inner">
      <p>{{message.content}}</p>
      <a href="{{url_for('project', id=message.id)}}" class="btn">Go to the project page!</a>
    </div>
  </div>
</div>
{% endfor %}
  </div>
    <div  id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="myModalLabel">Add Project</h3>
	</div>
	<div class="modal-body">
	  {{form.hidden_tag()}}
	<p>
	  Name:<br>
	  {{form.name(class="input-block-level")}}<br>
	  Description:<br>
	  {{form.description(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <input class="btn btn-primary" type="submit" value="Add Project!">
	</div>
      </form>
    </div>
{%  endblock %}


