<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ouane</title>
    <link href="{{ url_for('static', filename='./bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ url_for('static', filename='./bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='./css/project.css') }}" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script type=text/javascript src="{{ config.JUGGERNAUT_DRIVER }}"></script>
     <script src="{{ url_for('static', filename='./bootstrap/js/bootstrap.js') }}"></script>
     <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="brand" href="{{ url_for('index') }}">Ouane</a>
           <div class="nav-collapse collapse">
             <ul class="nav">
               <li class="active"><a href="#">Home</a></li>
	       
               <!-- <li><a href="#about">About</a></li> -->
               <!-- <li><a href="#contact">Contact</a></li> -->
             </ul>
           </div>
         </div>
       </div>
     </div>
     
     {% for message in get_flashed_messages() %}
     <div class=flash>{{ message }}</div>
     {% endfor %}
     <div class='container'>
       {% block body %}{% endblock %}
     </div>
  </body>
</html>
