{% extends "layout.html" %}
{% block body %}

<script>
function createNewColumn(columnsNumber, columnName) {
	
	var columnID = "column" + columnsNumber;
	var colContainer = $("<div class=\"column\" id=\"" + columnID + "\"></div>");
	var columnTitle = $("<button class=\"columnTitle btn disabled\">" + columnName + "</button>").button().click(function() { columnModif(); });
	var cardsSpace = $("<div class=\"cardsSpace\" id=\"" + columnID + "-cardsSpace\"></div>").droppable({ hoverClass: "ui-state-active" });
	var cardsList = $("<ul class=\"cardsList\" id=\"" + columnID + "-cardsList\"></ul>").sortable({ connectWith: "ul" }).disableSelection();

	var addCard = $("<button href=\"#addACardPopup\" role=\"button\" class=\"addCard btn disabled\" data-toggle=\"modal\" id=\"" + columnID + "-addCardButton\">Add a card...</button></div>").button().click(function() { addCardToColumn($(this).attr('id')); });

	colContainer.append(columnTitle);
	cardsList.appendTo(cardsSpace);
	cardsSpace.appendTo(colContainer);
	colContainer.append(addCard);
	colContainer.appendTo("#columnsRow");
}

function columnModif() {
	alert("Normalement ca permettra de modif la colonne");
}

function addCardToColumn(buttonID) {
	var columnsCardsListID = "#" + buttonID.split("-")[0] + "-cardsList";
	var listSize = $(columnsCardsListID + " li").length;
	var newCard = $("<li class=\"navbar-inner postit\" id=\"postit0\">Nouveau post-it</li>");
	$(columnsCardsListID).append(newCard);
}

function refreshColumnsListHeight() {
    var bodyheight = $(window).height();
    var navbarheight = $("#navbar").height();
    var headerheight = $("#columnsHeader").height();
    var newcolumnsheight = bodyheight - navbarheight - headerheight - 42; <!-- // 32 is an empirical constant amount of pixels probably due to some margins somewhere -->

    $('#columnsList').height(newcolumnsheight);
}

$(document).ready(function() {
    refreshColumnsListHeight();
});

$(function() {


$(window).resize(function() {
    refreshColumnsListHeight();
});

$(window).trigger('resize');


$( ".columnCreation" ).button().click(function() {
	createNewColumn();
})

$(".cardsList").sortable({
	connectWith: "ul"
}).disableSelection();

$( ".cardsSpace" ).droppable({
	hoverClass: "ui-state-active"
});

$( ".columnTitle" ).button().click(function() {
	columnModif();
})

$(".addCard").button().click(function() {
	addCardToColumn($(this).attr('id'));
})


});

$(document).on("click", ".open-AddACardPopup", function () {
     var columnId = $(this).data('id');
     $(".modal-body #formCard-idColumn").val( columnId );
    $('#addACardPop').modal('show');
});
</script>

<div id="columnsHeader">
<button href="#addColumn" role="button" data-toggle="modal" class="btn btn-large">Add columns</button>
<hr>
</div>

<div id="columnsList">
  <div id="columnsRow">
    
    {% for c in columns %}
    <div class="column" id="column{{c.id}}">
      <button class="columnTitle btn disabled">{{c.name}}</button>
      <div class="cardsSpace" id="column{{c.id}}-cardsSpace">
        <ul class="cardsList" id="column{{c.id}}-cardsList">
	  {% for ca in card[c.id] %}
          <li class="navbar-inner postit" id="postit{{ca.id}}">{{ca.name}}</li>
          {% endfor %}
        </ul>
      </div>
    <button href="#addACardPopup" role="button" class="open-AddACardPopup btn disabled" data-toggle="modal" data-id="{{c.id}}" id="column{{c.id}}-addCardButton">Add a card...</button>
    </div>
    {% endfor %}

  </div>
</div>

<!-- The "Add a card" pop-up -->
    <div  id="addACardPopup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="myModalLabel">Add a Card</h3>
	</div>
	<div class="modal-body">
	  {{formCard.hidden_tag()}}
	<p>
	  Title:<br>
	  {{formCard.name(class="input-block-level")}}<br>
	  Description:<br>
	  {{formCard.description(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <!-- <input class="btn btn-primary" type="submit" value="Add a Card!"> -->
	  {{formCard.submit(class="btn btn-primary", value="Add a Card!")}}
	</div>
      </form>
    </div>

    <div  id="addColumn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addColumnLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="addColumnLabel">Add Columns</h3>
	</div>
	<div class="modal-body">
	  {{form.hidden_tag()}}
	<p>
	  Name:<br>
	  {{form.name(class="input-block-level")}}<br>
	  Description:<br>
	  {{form.description(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <!-- <input class="btn btn-primary" type="submit" value="Add Columns!"> -->
	  {{form.submit()}}
	</div>
      </form>
      {% endblock %}
      
