#columnsList {
    /* width: 100%; */
    height: auto;
    /* min-height: 100%; */
    /* background: red; */
    /* overflow-y: scroll; */
   overflow-x: scroll;
}

#columnsRow {
    height: auto;
    /* background: darkblue; */
    width: auto;
   white-space: nowrap;
   overflow-x: scroll;

} 

.column {
	width: 250px;
	height: auto;
	/* float: left; */
	/* background: blue; */
	background-color: #E0E0E0;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	border: gray solid 1px;
	display: inline-block;
	margin: 10px 10px 10px 10px;
	vertical-align: top;
}

.columnTitle
{
	width: 100%;
	height: 30px;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 0.5em;
	text-align: left;
}

.cardsSpace
{
	width: 100%;
	height: auto;
	min-height: 45px;
	max-height: 100%;
	overflow-y: auto;
	/* background: darkblue; */
}

.cardsList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	min-height: 45px;
	max-height: 100%;
	overflow: auto;
}

.postit {
	width: 95%;
	min-height: 30px;
	height: auto;
	padding: 5px;
	font-size: 90%;
}


.addCard
{
	width: 100%;
	height: 20px;
	margin-top: 0.5em;
	padding:0;
	text-align:center;
	font-size: 75%;
}

.columnCreation
{
	margin: 10px;
}

.columnsRow
{
    clear: both;
    height: 50px;
    white-space: nowrap;
    float: left;
    clear: left;
    padding-top: 14px;
}

.module

/*.ui-state-highlight { width: 195px; height: 30px; line-height: 1.2em; }*/

.newProject
{
    width:auto;
    height: 100%;
    border:1px solid gray;
    position:relative;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 9px gray;
}

div.modal-body  input
{
    width: 100%;
}

div.newProject textarea
{
    width: 100%;
}

form {
  margin-bottom: 0px;
}